CITAS_URL="http://superpage.com"
GOOGLE_CLIENT_EMAIL="email@example.com"
GOOGLE_PRIVATE_KEY="yourprivatekey"
GOOGLE_SHEET_ID="yoursheetid"
GOOGLE_SHEET_ID_CITAS="idsheet"
SEND_MAIL_HOST_MAIL="mail.host.mx"
SEND_MAIL_EMAIL="no-reply@example.mx"
SEND_MAIL_PASSWORD="password"
