@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  /* scroll-behavior: smooth; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
